<div class="main-container" ng-controller="homeController">
    <div class="col-md-12 full-w">
        <h2 class="border-bottom-title">Welcome to GPI</h2>
    </div>


     <div class="col-md-9 col-sm-8">
        <div class="category-box col-md-12">
            <h3>About us</h3>
       <p class="f15">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod teonsectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  
	   <p class="f15">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed doem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
         
		</div>
		</div>   

   <div class="col-md-3 col-sm-4">

        <div class="category-box col-md-12">
            <h2> Status </h2>
<a class="orange-link"href="#">News Link 1</a>
 <div class=" border-aboutus"></div>
 <a class="orange-link" href="#">News Link 2</a>
 <div class=" border-aboutus"></div>
 <a class="orange-link" href="#">News Link 3</a>
 <div class=" border-aboutus"></div>
 <a class="orange-link" href="#">News Link 4</a>
 <div class=" border-aboutus"></div>
  <a class="f15 black" href="#">More Link...</a>
  
  <div class="aboutus-gap"></div>
        </div>
    </div>
	 
	 <!-- ............................ -->
	    <div class="col-md-12 col-sm-12 box-div">
			   <div class="col-md-4 col-sm-4">
               <a href="#">  <div class="yellow-aboutus">
				<img class="top15  about-pic"src="images/about-us/solution.png">
                    <div class="top20"> KNOW SOLUTION</div>
                </div></a>
               </div>
			<div class="col-md-4 col-sm-4">
              <a href="#"> <div class="green-aboutus">
				<img class="top15 about-pic"src="images/about-us/money.png">
                    <div class="top20">HOW YOU EARN</div>
                </div></a>
            </div>
			<div class="col-md-4 col-sm-4">
              <a href="#">  <div class="gray-aboutus">
				<img class="top15 about-pic"src="images/about-us/calculation.png">
                    <div class="top20">HOW WE CALCULATE</div>
                </div></a>
            </div>
		</div>
		
			
</div>