<signup-modal></signup-modal>
<login-modal></login-modal>
<plain-opinion-modal></plain-opinion-modal>
<forgotpwd-modal></forgotpwd-modal>
<forgot-user-modal></forgot-user-modal>
<privacy-policy></privacy-policy>
<cookie-policy></cookie-policy>
<footer>
    <ul class="nav navbar-nav">
        <li><a href="#/userAgreement">User Agreement</a></li>
        <li><a href="#/privacyPolicy">Privacy Policy</a></li>
        <li><a href="#/communityGuidelines">Community Guidelines</a></li>
        <li><a href="#/cookiePolicy">Cookie Policy</a></li>
        <li><a href="#/copyrightPolicy">Copyright Policy</a></li>
    </ul>
</footer>