<header ng-class="{user:isUserLoggedIn()}">
    <div class="top_bar">
        <div class="outer">
            <form class="search" method="post">
                <div class="card-drop">
                    <a class='toggle' href="javascript:void(0)"><i
                            class="icn_srh all"></i></a>
                    <ul>
                        <li class='active'><a data-label="Skills"
                                              href="javascript:void(0)" ng-click="SearchValueFunction(1)"><i
                                class="icn_srh all"></i> All</a></li>
                        <li><a data-label="Html5" href="javascript:void(0)"
                               ng-click="SearchValueFunction(2)"><i
                                class="icn_srh people"></i> People</a></li>
                        <li><a data-label="CSS3" href="javascript:void(0)"
                               ng-click="SearchValueFunction(3)"><i class="icn_srh opin"></i>
                            Opinion</a></li>
                        <!-- <li><a data-label="Linux"
                           href="javascript:void(0)javascript:void(0)javascript:void(0)"
                           ng-click="SearchValueFunction(4)"><i class="icn_srh verd"></i>
                        Sentiment</a></li> -->
                        <!-- 								<li><a data-label="Linux" href="#"><i class="icn_srh verd"></i> Verdict</a></li> -->
                        <!-- 								<li><a data-label="Indicator" href="#"><i class="fa fa-pie-chart"></i> Indicator</a></li> -->
                        <!-- 								<li><a data-label="Problem" href="#"><i class="fa fa-exclamation-triangle"></i> Problem</a></li> -->
                        <!-- 								<li><a data-label="Video" href="#"><i class="fa fa-video-camera"></i> Video</a></li> -->
                    </ul>
                </div>
                <input type="search" value=""
                       placeholder="Select Search Opinion, People ..."
                " ng-model="searchValues"> <input type="submit"
                                                  value="" ng-click="searchFunction()">
            </form>
        </div>
        <a href="javascript:void(0)" class="earn animation"></a> <a
            class="refer" data-toggle="modal" data-target="#refer" href="#"
            title="Coming soon" class="not-active">Refer a Friend Link</a>


        <ul class="social">
            <li><a href="javascript:void(0)" id="dropdownMenu3"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                   class="social_top msg" ng-click=getTopNotifications()> <span
                    class="badge badge-error"
                    style="margin-left: 15px; margin-bottom: 6px;">{{notificationCount}}</span>
            </a>
                <ul class="video_vic notification"
                    aria-labelledby="dropdownMenu3"
                    style="overflow-y: scroll; max-height: 369px;">
                    <li class="title" ng-if="TopNotificationsLoginflag == true"><h2>Opinion
                        Notification</h2></li>
                    <li ng-if="TopNotificationsLoginflag == true && $index < 10"
                        ng-repeat="top in TopnotificationCount"
                        ng-class="{'unreadli':top.status == 'Unread'}"
                        ng-click="changeStatus(top)"><span class="opin_noti">
										<a href="#/viewOpinion?id={{top.id}}">{{top.title}}</a> <span
                            ng-class="{true: 'protype', false: 'antitype'}[top.type == 'Pro']">{{top.type}}</span>
										<div class="clearfix"></div> <span class="time"><i
                            class="fa fa-clock-o"></i> {{top.formattedAge}}</span><span><a
                            href="#/personality?id={{top.user.id}}"><img
                            src="data:image/jpg;base64,{{top.user.image}}" alt=""
                            width="15"> {{top.user.title}}</a></span><span class="senti">{{top.category}}</span>
								</span></li>
                    <li
                            ng-if="TopNotificationsLoginflag == true && TopnotificationCount.length>10"><a
                            href="javascript:void(0)"
                            class="custom_btn btn-block text-center"
                            ng-click="viewNofication()">View All</a></li>
                    <li class="title" ng-if="TopNotificationsLoginflag == false"><h2>Please
                        Login to view notification!!</h2></li>
                </ul></li>
            <li>
                <!-- <a  id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="javascript:void(0)"  class="social_top video"></a>
        <ul class="video_vic" aria-labelledby="dropdownMenu2">
            <li class="title"><h2>Videopic Notification</h2></li>
            <li>	<span class="type_vid">
        <a href="#"><img src="images/vid_noti.jpg" alt=""></a>
    </span>
    <span class="right_bx">
        <a href="javascript:void(0)">Rohit Roy</a> <span>Shared</span> <a href="javascript:void(0)" class="label label-danger"  data-toggle="tooltip" data-placement="bottom" title="" data-original-title="See all Video and images of #Funny tag">Funny</a> <a href="javascript:void(0)" class="label label-danger"  data-toggle="tooltip" data-placement="bottom" title="" data-original-title="See all Video and images of #Logo tag">Logo</a>  <a href="javascript:void(0)">Picture</a>.
        <div class="clearfix"></div>
        <span class="time"><i class="fa fa-clock-o"></i> 15 Min ago</span><span class="txt-11">Label Text</span>
    </span>

            </li>
            <li>	<span class="type_vid">
        <a href="#"><img src="images/vid_noti.jpg" alt=""></a>
    </span>
    <span class="right_bx">
        <a href="javascript:void(0)">Rohit Roy</a> <span>Shared</span> <a href="javascript:void(0)" class="label label-danger"  data-toggle="tooltip" data-placement="bottom" title="" data-original-title="See all Video and images of #Funny tag">Funny</a> <a href="javascript:void(0)" class="label label-danger"  data-toggle="tooltip" data-placement="bottom" title="" data-original-title="See all Video and images of #Logo tag">Logo</a>  <a href="javascript:void(0)">Video</a>.
        <div class="clearfix"></div>
        <span class="time"><i class="fa fa-clock-o"></i> 15 Min ago</span><span class="txt-11">Label Text</span>
    </span>

            </li>
            <li>	<span class="type_vid">
        <a href="#"><img src="images/vid_noti.jpg" alt=""></a>
    </span>
    <span class="right_bx">
        <a href="javascript:void(0)">Rohit Roy</a> <span>Shared</span> <a href="javascript:void(0)" class="label label-danger"  data-toggle="tooltip" data-placement="bottom" title="" data-original-title="See all Video and images of #Funny tag">Funny</a> <a href="javascript:void(0)" class="label label-danger"  data-toggle="tooltip" data-placement="bottom" title="" data-original-title="See all Video and images of #Logo tag">Logo</a>  <a href="javascript:void(0)">Picture</a>.
        <div class="clearfix"></div>
        <span class="time"><i class="fa fa-clock-o"></i> 15 Min ago</span><span class="txt-11">Label Text</span>
    </span>

            </li><li>	<span class="type_vid">
        <a href="#"><img src="images/vid_noti.jpg" alt=""></a>
    </span>
    <span class="right_bx">
        <a href="javascript:void(0)">Rohit Roy</a> <span>Shared</span> <a href="javascript:void(0)" class="label label-danger"  data-toggle="tooltip" data-placement="bottom" title="" data-original-title="See all Video and images of #Funny tag">Funny</a> <a href="javascript:void(0)" class="label label-danger"  data-toggle="tooltip" data-placement="bottom" title="" data-original-title="See all Video and images of #Logo tag">Logo</a>  <a href="javascript:void(0)">Picture</a>.
        <div class="clearfix"></div>
        <span class="time"><i class="fa fa-clock-o"></i> 15 Min ago</span><span class="txt-11">Label Text</span>
    </span>

        </li><li>	<span class="type_vid">
        <a href="#"><img src="images/vid_noti.jpg" alt=""></a>
    </span>
    <span class="right_bx">
        <a href="javascript:void(0)">Rohit Roy</a> <span>Shared</span> <a href="javascript:void(0)" class="label label-danger"  data-toggle="tooltip" data-placement="bottom" title="" data-original-title="See all Video and images of #Logo tag">Logo</a>  <a href="javascript:void(0)">Picture</a>.
        <div class="clearfix"></div>
        <span class="time"><i class="fa fa-clock-o"></i> 15 Min ago</span><span class="txt-11">Label Text</span>
    </span>

        </li>
            <li>
                <a href="javascript:void(0)" class="custom_btn btn-block text-center">View All</a>
            </li>
        </ul>

    </li> -->
            <li><a href="javascript:void(0)" id="dropnoti"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                   class="social_top noti" ng-click="getGeneralNotifications()">
								<span class="badge badge-error"
                                      style="margin-left: 15px; margin-bottom: 6px;">{{generalNotificationCount}}</span>
            </a>
                <ul class="video_vic" aria-labelledby="dropnoti">
                    <li ng-if="GeneralNotificationsLoginflag == true" class="title"><h2>Notification</h2></li>
                    <li ng-if="GeneralNotificationsLoginflag == true && $index < 10"
                        ng-repeat="top in GeneralnotificationCount"
                        ng-class="{'unreadli':top.status == 'Unread'}"
                        ng-click="changeStatus(top)"><span class="type_vid">
										<a href="#/personality?id={{top.user.id}}"> <img
                                                ng-if="(top.user.image!= undefined)"
                                                src="data:image/{{top.user.imageFileType}};base64,{{top.user.image}}"
                                                alt="" style="height: 44px;" height="110px" width="120px]">

                                            <!-- 											 <img  ng-if="(top.user.image== undefined)" -->
                                            <!-- 											src="/images/defaultPersion.jpg"  --> <!-- 											alt="" style="height: 44px;"> -->

                                        </a>
								</span> <span class="right_bx"> <a
                            href="#/personality?id={{top.user.id}}">{{top.user.title}}</a>
										<span style="font-size: 12px; color: #999;">
											{{top.title.split('$')[1]}} </span> <a
                                href="#/viewOpinion?id={{top.id}}">{{top.componetType}}</a>.
										<div class="clearfix"></div> <span class="time"><i
                                class="fa fa-clock-o"></i> {{top.formattedAge}}</span>
								</span></li>
                    <!--  <li>
    <span class="type_vid">
        <a href="#">
            <img src="images/img_comment.png" alt="">
        </a>
    </span>
    <span class="right_bx">
        <a href="#">Rohit Roy</a> <span>Like your</span> <a href="#" >Response</a>.
        <div class="clearfix"></div>
        <span class="time"><i class="fa fa-clock-o"></i> 10 Min ago</span>
    </span>
            </li>
            <li>
    <span class="type_vid">
        <a href="#">
            <img src="images/img_comment.png" alt="">
        </a>
    </span>
    <span class="right_bx">
        <a href="#">Rohit Roy</a> <span>earn</span> <a href="#" >Badge</a>
        <div class="clearfix"></div>
        <a href="javascript:void()" class="success">Congrtulate Him</a>
    </span>
            </li>
            <li>
    <span class="type_vid">
        <a href="#">
            <img src="images/img_comment.png" alt="">
        </a>
    </span>
    <span class="right_bx">
        <a href="#">Rohit Roy</a> <span>Commented on your</span> <a href="#" >opinion</a>
        <div class="clearfix"></div>
        <span class="time"><i class="fa fa-clock-o"></i> 10 Min ago</span>
    </span>
            </li>
            <li>
    <span class="type_vid">
        <a href="#">
            <img src="images/img_comment.png" alt="">
        </a>
    </span>
    <span class="right_bx">
        <a href="#">Rohit Roy</a> <span>Commented on your</span> <a href="#" >opinion</a>
        <div class="clearfix"></div>
        <span class="time"><i class="fa fa-clock-o"></i> 10 Min ago</span>
    </span>
            </li>
            <li>
    <span class="type_vid">
        <a href="#">
            <img src="images/img_comment.png" alt="">
        </a>
    </span>
    <span class="right_bx">
        <a href="#">Rohit Roy</a> <span>Commented on your</span> <a href="#" >opinion</a>
        <div class="clearfix"></div>
        <span class="time"><i class="fa fa-clock-o"></i> 10 Min ago</span>
    </span>
            </li>
-->
                    <li
                            ng-if="GeneralNotificationsLoginflag == true && GeneralnotificationCount.length>10"><a
                            class="custom_btn btn-block text-center"
                            href="javascript:void(0)" ng-click="generalNofication()">View
                        All</a></li>
                    <li class="title" ng-if="GeneralNotificationsLoginflag == false"><h2>Please
                        Login to view notification!!</h2></li>
                </ul></li>

            <li>
                <!-- <a href="javascript:void(0)" id="dropshare" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="social_top loud"><span class="blink"></span></a>
        <ul class="video_vic" aria-labelledby="dropshare">
            <li class="title"><h2>Connect Notification</h2></li>
            <li>
<span class="type_vid">
        <img src="images/img_comment.png" alt="">
</span>
<span class="right_bx">
    <h2 class="inline">Rohit Roy</h2> <span><i class="fa fa-map-marker"></i> Mohali</span>
    <div class="clearfix"></div>
    <a href="javascript:void(0)" class="mut_frd">4 mutual friends</a> <span>Friend</span> <a class="custom_btn yes" href="javascript:void(0)">Accept</a> <a class="custom_btn no" href="javascript:void(0)">Reject</a>

</span>
                <span class="typ_con">CONNECT</span>
            </li>
            <li>
<span class="type_vid">
        <img src="images/vid_noti.jpg" alt="">
</span>
<span class="right_bx">
    <h2 class="inline">Agusta Westland</h2> <span><i class="fa fa-map-marker"></i> Mohali</span>
    <div class="clearfix"></div>
    <h2 class="inline"><span>Invited By</span> <a href="javascript:void(0)">Rajesh Rao</a></h2> <a class="custom_btn yes" href="javascript:void(0)">Accept</a> <a class="custom_btn no" href="javascript:void(0)">Reject</a>
</span>
                <span class="typ_con">Task</span>
            </li>

            <li>
                <a href="javascript:void(0)" class="custom_btn btn-block text-center">View All</a>
            </li>
        </ul>
-->
            </li>
        </ul>
    </div>
    <div class="navbar-static-top">
        <div class="navbar-header">
            <button aria-controls="bs-navbar" aria-expanded="false"
                    class="collapsed navbar-toggle" data-target="#bs-navbar"
                    data-toggle="collapse" type="button">
                <span class="sr-only">Toggle navigation</span> <span
                    class="icon-bar"></span> <span class="icon-bar"></span> <span
                    class="icon-bar"></span>
            </button>
            <a href="#/" class="navbar-brand"><span class="logo"></span></a>
        </div>
        <nav id="bs-navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav menu_header">
                <li><a href="#"><span class="header_nav discuss"></span>
                    Discuss</a></li>
                <!-- 						<li> <a href="#"><span class="header_nav wall"></span>Wall</a> </li> -->
                <li><a class="active" href="#/ga"><span
                        class="header_nav judge"></span>Judge Govt</a></li>
                <li><a href="#"><span class="header_nav problem"></span>Problems</a>
                </li>
            </ul>
            <ul class="nav navbar-nav menu_header navbar-right before_login">
                <li ng-hide="isUserLoggedIn()"><a href="#"
                                                  data-toggle="modal" data-target="#login_pop"><span
                        class="fa fa-sign-in"></span> Login</a></li>
                <li ng-hide="isUserLoggedIn()"><a href="#"
                                                  data-toggle="modal" data-target="#sign_pop"><span
                        class="fa fa-pencil-square-o"></span> SignUp</a></li>
                <li ng-show="isUserLoggedIn()"><a href="#"
                                                  ng-click="logout()"><span class="logout"></span> Logout</a></li>
            </ul>
        </nav>
    </div>
    <div class="user_pic" ng-show="isUserLoggedIn()">
        <img
                src="data:image/jpg;base64,{{userData[0].userImages[0].image}}"
                id="indx_user_img" alt="" width="128px" height="110px">
        <div class="user_name">{{userData[0].name}}</div>
        <div id="fat-menu" class="dropdown">
            <a href="#" class="dropdown-toggle" id="drop3"
               data-toggle="dropdown" role="button" aria-haspopup="true"
               aria-expanded="false"><span class="fa fa-bars"> </span> </a>
            <ul class="dropdown-menu" aria-labelledby="drop3">
                <li>
                    <!-- <a href="#">My Feed</a> -->
                </li>
                <li><a href="/#/personality?id={{userData[0].id}}">View
                    Personality</a></li>
                <li><a
                        href="/#/userSetting/id={{userData[0].id}}&tabNumber=3">Change
                    Password </a></li>
                <li><a
                        href="/#/userSetting/id={{userData[0].id}}&tabNumber=1">Change
                    Contact Details</a></li>
                <li><a
                        href="/#/userSetting/id={{userData[0].id}}&tabNumber=2">User
                    & Privacy Settings</a></li>
                <li><a href="/#/userSetting/id={{userData[0].id}}">Logout</a></li>
                <li>
                    <!-- <a href="#">My Connections</a> -->
                </li>
            </ul>
        </div>
    </div>
</header>