<ul class="left_nav">
    <li><a class="close_nav" href="#"><span
            class="icon_nav arrow"></span></a></li>
    <li><a href="#"><span class="txt">Your Personality</span><span
            class="icon_nav user"></span></a></li>
    <li><a href="#"><span class="txt">Your Activities</span><span
            class="icon_nav msg"></span></a></li>
    <li><a href="#"><span class="txt">Contest</span><span
            class="icon_nav cont"></span></a></li>
    <li><a href="#"><span class="txt">See All Viral
							Video/Images</span><span class="icon_nav cam"></span></a></li>
    <li><a href="#"><span class="txt">View All Verdic</span><span
            class="icon_nav graph"></span></a></li>
    <li><a href="#"><span class="txt">Raise Your opinion</span><span
            class="icon_nav opin"></span></a></li>
    <li><a href="#"><span class="txt">Be a Leader</span><span
            class="icon_nav lead"></span></a></li>
    <li><a href="#"><span class="txt">View All Opinions</span><span
            class="icon_nav govt"></span></a></li>
    <li><a href="#"><span class="txt">FAQ - Govrnn's
							methodology</span><span class="icon_nav noti"></span></a></li>
    <li><a href="#"><span class="txt">About Us</span><span
            class="icon_nav home"></span></a></li>
</ul>