<div ng-app>
    <div ng-controller="KeyIndicatorsCtrl">
        <div></div>
        <div style="margin-left:90px;">
            Category<select ng-model="category" ng-change="fetchSubCategories({{category}})">
            <option ng-repeat="category in categories" ng-value="category.id">{{category.name}}</option>
        </select>
            SubCategory<select ng-change="fetchIndicators({{subcategory}})" ng-model="subcategory">
            <option ng-repeat="category in subcategories" ng-value="category.id">{{category.name}}</option>
        </select>
            <table>
                <tr style="height:35px;margin-bottom:10px;">
                <tr>
                    <td class="custom_btn red full_bg noborder-radius"><span>Indicators</span>

                    </td>
                    <td></td>
                    <td class="custom_btn red full_bg noborder-radius"><span>Key Indicators</span>

                    </td>
                <tr>
                <tr>
                    <td>
                        <div>
                            <select multiple id="availabelist" size="10" class="select-dd form-control" style="width:275px" ng-change="OnAvailableChange()"
                                    ng-model="selectedIndicators"
                                    ng-options="item as item.name for item in indicators track by item.id">
                            </select>
                        </div>
                    </td>
                    <td>
                        <div class="padded">
                            <button class="custom_btn btn_small bottom-margin "  ng-click="moveToKeyIndicators()">
                                <span class="glyphicon glyphicon-menu-right"></span>
                            </button>

                            <button class="custom_btn btn_small"  ng-click="removeFromKeyIndicators()">
                                <span class="glyphicon glyphicon-menu-left"></span>
                            </button>
                        </div>
                    </td>
                    <td>
                        <div>
                            <select class="select-dd form-control" multiple id="selectedlist" size="10" style="width:275px"
                                    ng-model="selectedKeyIndicators"
                                    ng-options="item as item.name for item in keyIndicators track by item.id">
                            </select>
                        </div>
                    </td>
                <tr></tr>
            </table>
        </div>
    </div>