<ul class="left_nav">
    <li><a class="close_nav" href="#/admin"><span
            class="icon_nav arrow"></span></a></li>
    <li><a href="#/admin"><span class="txt">Indicators</span><span
            class="icon_nav user"></span></a></li>
    <li><a href="#/admin"><span class="txt">Your Activities</span><span
            class="icon_nav msg"></span></a></li>
    <li><a href="#/admin"><span class="txt">Contest</span><span
            class="icon_nav cont"></span></a></li>
    <li><a href="#/admin"><span class="txt">See All Viral
							Video/Images</span><span class="icon_nav cam"></span></a></li>
    <li><a href="#/admin"><span class="txt">View All Verdic</span><span
            class="icon_nav graph"></span></a></li>
    <li><a href="#/admin"><span class="txt">Raise Your opinion</span><span
            class="icon_nav opin"></span></a></li>
    <li><a href="#/admin"><span class="txt">Be a Leader</span><span
            class="icon_nav lead"></span></a></li>
    <li><a href="#/admin"><span class="txt">View All Opinions</span><span
            class="icon_nav govt"></span></a></li>
    <li><a href="#/admin"><span class="txt">FAQ - Govrnn's
							methodology</span><span class="icon_nav noti"></span></a></li>
    <li><a href="#/admin"><span class="txt">About Us</span><span
            class="icon_nav home"></span></a></li>
</ul>





<a href="#/admin" class="navbar-brand"><span class="logo"></span></a>
<nav id="bs-navbar" class="collapse navbar-collapse">
    <ul class="nav navbar-nav menu_header">
        <li><a href="#" class="active"><span class="header_nav discuss"></span>Admin</a></li>
    </ul>
    <ul class="nav navbar-nav menu_header navbar-right before_login">
        <li ng-hide="isUserLoggedIn()"><a href="#"
                                          data-toggle="modal" data-target="#login_pop"><span
                class="fa fa-sign-in"></span> Login</a></li>
        <li ng-hide="isUserLoggedIn()"><a href="#"
                                          data-toggle="modal" data-target="#sign_pop"><span
                class="fa fa-pencil-square-o"></span> SignUp</a></li>
        <li ng-show="isUserLoggedIn()"><a href="#"
                                          ng-click="logout()"><span class="logout"></span> Logout</a></li>
    </ul>
</nav>


<div class="full_bg">
    <div class=" collapse navbar-collapse">
    <ul class="nav navbar-nav">
        <li class="dropdown">
            <a href="#/admin" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Indicators <span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a href="#/indicator/create">Add Indicator</a></li>
                <li><a href="#/indicator/load-value">Load Values</a></li>
                <li><a href="#/keyindicators">Key Indicators</a></li>
            </ul>
        </li>

        <li class="dropdown">
            <a href="#/admin" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Govt Schemes <span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a href="#/schemes/review-facts">Review Submit Facts</a></li>
            </ul>
        </li>
        <li class="dropdown">
            <a href="#/admin" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Graph Comparison Filters<span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a href="#/graphcomparisonfilters/add">Add Filter</a></li>
                <li><a href="#/graphcomparisonfilters/list">View Filter</a></li>
            </ul>
        </li>
        <li class="dropdown">
            <a href="#/admin" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Manifesto<span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a href="#/manifesto/add">Add Manifesto</a></li>
                <li><a href="#/manifesto/list">View Manifestos</a></li>
            </ul>
        </li>
    </ul>
    </div>
</div>