<div ng-controller="GraphFiltersCtrl">
    <div ng-show="status">
        <div ng-show="success" class="alert alert-success">Successfully Added</div>
        <div ng-hide="success" class="alert alert-danger">Failed to add the Filter</div>
    </div>
        <form class="form-horizontal">
            <div class="form-group">
                <label for="segment" class="col-sm-5 control-label">Graph Segment:</label>
                <div class="col-sm-1">
                    <select id="segment" ng-model="filter.graphSegment" class="form-control">
                        <option value="GA">GA</option>
                        <option value="GPI">GPI</option>
                        <option value="GPI">Feel</option>
                    </select></div>
            </div>
            <div class="form-group">
                <label for="filtername" class="col-sm-5 control-label">Filter Name:</label>
                <div class="col-sm-3">
                    <input type="text" ng-model="filter.name" class="form-control" id="filtername">
                </div>
            </div>

            <div class="form-group">
                <label for="filterdesc" class="col-sm-5 control-label">Filter Description:</label>
                <div class="col-sm-3">
                    <textarea id="filterdesc" ng-model="filter.description" class="form-control"></textarea>
                </div>
            </div>

            <div class="form-group">
                <label for="startDate" class="col-sm-5 control-label">Start Date:</label>
                <div class='input-group date  col-sm-3' style="padding-left:10px">
                    <input id="startDate" ng-model="filter._startDate" type='text' class="form-control datepicker" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
            <div class="form-group">
                <label for="endDate" class="col-sm-5 control-label">End Date:</label>
                <div class='input-group date col-sm-3' style="padding-left:10px">
                    <input type='text' id="endDate" ng-model="filter._endDate" class="form-control datepicker" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>


            <div class="form-group">
                <label for="endDate" class="col-sm-5 control-label">Status:</label>
                <div class='input-group date col-sm-3' style="padding-left:10px">
                    <select ng-model="filter.statusFlag" class="form-control">
                        <option value="Active">Active</option>
                        <option value="Deleted">Deleted</option>
                        <option value="Disabled">Disabled</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-5 col-sm-10">
                    <input type="reset" value="Reset" class="btn btn-default custom_btn"/>
                    <button type="submit" class="btn btn-default custom_btn" ng-click="saveFilter(filter)">Create Filter</button>
                </div>
            </div>
        </form>
    </div>


<script>
    $(function () {
        jQuery('.datepicker').each(function(){
            $(this).datepicker({ format: 'yyyy-mm-dd',autoclose:true});
        });
    })
    /*jQuery(document).ready(function () {
     jQuery('.datepicker').each(function(){
     $(this).datepicker({ format: 'dd/mm/yyyy',autoclose:true});
     });
     });*/
</script>