<div ng-controller="GraphFiltersCtrl">
Available Graph Comparison Filters: <select class="select-dd form-control" id="selectedlist"
            ng-model="graphsegment" ng-change="updateGraphFilters()" style="width:100px;display: inline-block">
    <option ng-repeat="item in graphsegments" value="{{item}}">{{item}}</option>
    </select>
    <table class="table table-bordered table-hover table-condensed">
        <thead>
        <tr>
            <th>Segment</th>
            <th>Filter Name</th>
            <th>Filter Start Date</th>
            <th>Filter End Date</th>
            <th>Status</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="filter in filters" ng-class="{'success':filter.statusFlag==='Active','danger':filter.statusFlag==='Disabled'|| filter.statusFlag==='Deleted'}">
            <td>{{filter.graphSegment}}</td>
            <td>{{filter.name}}</td>
            <td><date value="{{filter.startDate}}" /></td>
            <td><date value="{{filter.endDate}}" /></td>
            <td  class="switch-field">
                <input type="radio" id="switch_left_{{filter.id}}" name="switch_{{filter.id}}" value="Active" ng-checked="{{filter.statusFlag=='Active'}}"/>
                <label  ng-click="toggle(filter.id,'Active',$event)"  for="switch_left_{{filter.id}}">Active</label>
                <input  type="radio" id="switch_right_{{filter.id}}" name="switch_{{filter.id}}" value="Disabled" ng-checked="{{filter.statusFlag=='Disabled' || filter.statusFlag=='Deleted'}}" />
                <label ng-click="toggle(filter.id,'Disabled',$event)" for="switch_right_{{filter.id}}">Disabled</label>
            </td>
        </tbody>
        </tr>
    </table>
</div>