<footer>
	<div class="footerInBottom">
		<div class="col-md-12">
			<div class="pull-left">
				<ul class="list-inline">
					<li><a href="#"> Terms of Use </a></li>
					<li class="_pipeNev">|</li>
					<li><a href="#">Privacy Policy</a></li>
				</ul>
			</div>
			<p class="pull-right">&copy; 2016 GPI. All rights reserved.</p>
		</div>
	</div>
</footer>