<div class="leftNev small-nev">
	<a class="toggle-menu"><i class="fa fa-bars"></i> </a>
	<ul class="nav">
		<li><a href="#"><i class="home"></i> <span class="hide-menu">
					Home </span></a></li>
		<li><a href="#"><i class="user"></i> <span class="hide-menu">
					Home </span></a></li>
		<li><a href="#"><i class="indication"></i> <span
				class="hide-menu"> Home </span></a></li>
		<li><a href="#"><i class="chart"></i> <span class="hide-menu">
					Home </span></a></li>
		<li><a href="#"><i class="city"></i> <span class="hide-menu">
					Home </span></a></li>
		<li><a href="#"><i class="vidio"></i> <span class="hide-menu">
					Home </span></a></li>
		<li><a href="#"><i class="text"></i> <span class="hide-menu">
					Home </span></a></li>
	</ul>

</div>
