<div class="full_bg">
    <div class="do_some">
        Do Something <i class="qust" data-toggle="tooltip"
                        data-placement="bottom" title="Tooltip on bottom"></i> <a
            href="javascript:void(0)" ng-click="openOpinion(0);"
            class="btn btn-default red-half"><i class="fa fa-comments"></i>
        <span>Your opinion</span></a>
        <!-- 				<button type="button" class="btn btn-default red"><span class="leader"></span> Be Leader</button> -->
        <!-- 				<button type="button" data-toggle="modal" data-target="#videopic" class="btn btn-default red"> -->
        <!-- 				<span class="videpic"></span> Submit Videopic</button> -->
    </div>
    <img src="images/govrnn_bar.png" alt="" class="graph_bar">
    <div class="do_some other">
        People's Voice <i class="fa fa-question-circle"
                          data-toggle="tooltip" data-placement="bottom" title=""
                          data-original-title="Tooltip on bottom"></i> <a
            href="#/viewAllOpinion" class="m_l15 custom_btn"><span
            class="fa fa-comments"></span> View all Opinions</a>
        <!-- 			<a href="#" class="m_l15 custom_btn"><span class="fa fa-video-camera"></span> View all Videopic</a> -->
    </div>
</div>