@media(max-width:1440px){
	.impress .right_txt h2{margin:17px 0 0;}
	.impress .right_txt h2 span{padding-left:5px;}
	.full_bg .do_some{float:left;}
	.full_bg .do_some.other{float:right; margin-right:0;}
	.govt_grph{max-width:100%}
}
@media(max-width:1300px){
	.graph_bar{display:none;}
	.top_bar .outer{max-width:450px;}
	.search{width:100%;}
	.navbar-static-top .navbar-brand{padding:5px 8px;}
	.menu_header li a {padding-left: 15px;  padding-right: 15px;}
	.impress .carousel-control.right, .impress .carousel-control.left{display:none;}
	.like{margin:0;}
	.like li{margin:0 3px;}
	.box_sentiment a.link_sentiment img{height:90px !important;}
	.box_sentiment{min-height:174px;}
	.toggle_txt ul li{font-size:18px; padding:0 20px 0 19px;}
	.btn-default-c{margin-left:0;}
}

@media(max-width:1199px){
	.navbar-static-top .navbar-brand{padding: 0px 1px;}
	.menu_header li a {padding-left: 5px;  padding-right: 5px;}
	.menu_header.navbar-nav > li > a{font-size:13px; min-height:67px; padding:10px 8px 9px 0;}
	.navbar-nav > li > a{padding-bottom:5px; padding-top:5px;}
	.top_bar .outer{max-width:280px;}
	.full_bg .do_some{width:100%; margin:0;}
	header.user .user_pic{height:117px;}
	.user_pic > a {display: inline-block;  max-height: 100%;  overflow: hidden;}
	.collapse_sec .nav-tabs > li > a{padding-left:8px; padding-right:8px;}
	.collapse_sec .tab-content{padding:5px;}
	.impress .right_txt h2{margin: 7px 0 0;}
	.collapse_sec h2 {display: inline-block;  float: left;  font-size: 20px;  margin-bottom: 5px;  margin-top: 0;  width: 100%;}
	.collapse_sec ul.day_range{margin:0;}
	.poll.select_poll{padding-top:5px;}
	#carousel-poll{margin:8px 0 5px;}
	.toggle_txt{padding:11px 0;}
	.toggle_txt ul li {font-size:18px;  padding:0 10px; font-size:16px;}
	.right_section{float:right; padding-left:20px; width:calc(100% - 100px);}
	.heading_txt:after{border-left:20px solid #e8e6e6;}
	.trend_list{font-size:14px;}
	.link_sentiment > span {font-size:13px; font-weight:400;}
	.box_sentiment p{font-size:11px;}
	.cont_txt + p{height:24px; overflow:hidden; text-overflow:ellipsis; white-space:pre; width:100%;}
	.impress .bottom_txt .like{float:right;}
}
@media(max-width:1199px) and (min-width:992px){.impress .bottom_txt .like li{display:none;}
	.impress .bottom_txt .like li:last-child{display:block;}
	.sentiment_slide li{padding:0 3px;}
}
@media(max-width:991px){
	header.user .user_pic:hover .profile_pc {bottom: 20px; opacity: 1;}
	.top_bar .outer{max-width:180px;}
	.earn{margin-left:8px;}
	.top_bar .social{height:30px; position:relative; width:30px; background:#ef2d27; z-index:100; border-radius:23px; float:right;}
	.top_bar .social:before{color:#fff;content:"";display:inline-block;font-family:FontAwesome;font-size:19px;height:30px;text-align:center;
width:30px;}
	.top_bar .social li{display:none;}
	.full_bg .do_some.other{padding-left:5px;}
	.top_bar .social li.noti{background: #fff; display:none; display: block; margin: 0 0 0 -14px; padding: 5px 14px 10px; right: 0;}
	.menu_header.navbar-nav > li > a{font-size:0;}
	.nav.navbar-nav.menu_header.navbar-right > li > a{font-size:14px;}
	.custom_row{display:inline-block; margin:0 -8px;}
	.l_75, .l_25{width:100%}
	.impress .carousel-control.right, .impress .carousel-control.left{display:block;}
	.impress{display:none;}
	.p_container{padding:5px;}
	.custom_row {display: inline-block; margin:0 -8px; width:calc(100% + 16px);}
	.custom_row.p_t15.show_onclick {display:none;}
	.how_to_play.p_t15 {display:flex;}
	.sentiment_slide{display:flex}
	.sentiment_slide li{width:100%;}
	.graph_detail{display: flex; margin: 0 0 10px; width: 100%;}
	.graph_detail li{width:100%;}
	.detail_txt > .text-center > img {display:none;}
}
@media(max-width:767px){
	.earn.animation{display:none;}
	.full_bg .red{padding:4px 10px;}
	.full_bg .do_some.other{display:none;}
	.collapse_sec .btn.btn-default.btn-default-c{display:none;}
	.narrow_row .border_line_left {width: 100%;}
	.narrow_row .border_line_left .detail_txt, .narrow_row .border_line_left .detail_img{padding:0;  width:100%;}
	.cont_txt img {height: auto !important;  width: 100%;}
	
}
@media(max-width:639px){
	.refer{display:none;}
	.top_bar .outer {max-width: calc(100% - 55px);}
	.full_bg .red {padding: 4px 5px;}
	.full_bg .do_some{font-size:0px;}
	.full_bg .red, .red-half span{font-size:14px;}
	.govt_popul ul.day_range li label, .collapse_sec ul.day_range li label{padding:4px 6px;}
	.menu_header.navbar-nav > li > a{font-size: 16px;}
	.heading_txt{padding:21px 0 21px 10px;}
	.right_section{width: calc(100% - 80px);}
	.trend_list li a {color: #13b383; font-size:12px;}
	marquee{font-size:14px;}
	.toggle_txt ul li{font-size:0;}
}
@media(max-width:479px){
	
}