
       <div ng-controller="trackPromiseController">
          <h2>Track Promise</h2>
		  <div ng-repeat="c in categories">
		  <h4>{{c.category}}</h4>
		  <h4>{{c.subCategory}} : {{c.direction}}</h4>
		</div>
