<div class="clearfix"></div>
<div class="p_container">

	<div class="full_wide m_t20">
		<div ng-include="'views/schemes/manifesto.html'"></div>

		<div ng-include="'views/indicators/tracker.html'"></div>
	</div>

	<div ng-include="'views/search/searchbox.html'"></div>

	<hr class="dark">
	<h2 style="padding-bottom: 10px;">Judge Modi Govt by seeing if it is fulfilling its promises and
		compare it with previous UPA</h2>
	<div class="slider_box">
		<!--Categories-->
		<div ng-include="'views/indicators/categories.html'"></div>
		<!--Key Indicators-->
		<div ng-include="'views/indicators/keyindicators.html'"></div>

	</div>
	<!--modal-->
	<div ng-include="'views/indicators/submitFact.html'"></div>
</div>
<!--Government Schemes-->
<div ng-include="'views/schemes/schemelist.html'"></div>