﻿/*search functionality starts*/

.navbar-cls ul li a:hover {
    background-color: #41b7d8 !important;
    cursor: pointer;
}

.active {
    background-color: #41b7d8;
}

.navbar-cls ul li i {
    color: #fff;
    display: block;
    font-size: 20px;
}

    .navbar-cls ul li i .badge {
        color: #fff;
        background-color: red;
        /* border: 2px solid #fff; */
        height: 16px;
        width: 16px;
        border-radius: 8px;
        font-size: 10px;
        font-weight: bold;
        padding: 1px;
        position: absolute;
        top: -10px;
        left: 10px;
    }

.search-box {
    display: none;
}

    .search-box + label {
        cursor: pointer;
        font-weight: bold;
        margin-bottom: 0;
        font-size: 20px;
        padding: 11px 15px;
    }

        .search-box + label + div {
            display: none;
            margin-bottom: 10px;
        }

    .search-box:checked + label + div {
        display: block;
        position: absolute;
        right: 0;
        width: 300px;
        background: #fff;
        top: 51px;
        border: 1px solid #41b7d8;
        /*border-radius: 4px;*/
    }

    .search-box + label:before {
        color: #fff;
        content: "\e003";
        font-family: 'Glyphicons Halflings';
    }

    .search-box + label:hover:before {
        background-color: #41b7d8;
        padding: 13px 15px;
        margin-right: -15px;
    }

    .search-box:checked + label:before {
        background-color: #41b7d8;
        padding: 13px 15px;
        margin-right: -15px;
    }

#searchItem ul {
    list-style-type: none;
    padding: 0;
}

    #searchItem ul li {
        list-style-type: none;
        padding: 0;
        border-bottom: 1px solid #efefef;
    }

        #searchItem ul li a {
            padding: 10px;
            display: block;
            color: #4e4e4e;
            font-size: 16px;
        }

            #searchItem ul li a .badge {
                position: absolute;
                right: 10px;
                border-radius: 12px;
                height: 20px;
                width: 20px;
                font-size: 11px;
                padding: 5px 4px;
                background-color: red;
            }


            #searchItem ul li a:hover {
                text-decoration: none;
                background-color: aliceblue !important;
                cursor: pointer;
            }

#searchItem input[type="text"] {
    border: none;
    margin-left: 10px;
    font-size: 16px;
}

    #searchItem input[type="text"]:focus {
        border-color: #fff;
        outline: 0;
    }

#serachHeading {
    display: list-item;
    background-color: #41b7d8;
    color: #fff;
    padding: 10px !important;
    font-size: 16px;
}

#searchHeader {
    margin-left: 10px;
}
/*search functionality end */
