<div class="big_news">
    <div class="img_news">
        <img src="{{manifesto.image}}" height="206" alt="">
        <a href="javascript:void(0)">{{manifesto.title}}</a>
    </div>
    <br>
    <a class="btn btn-default btn-default-c left_cen" href="javascript:void(0)">
        <i class="fa fa-play"></i> Know More</a>
</div>