<div class="govt_schemes sentiment_container" ng-controller="GovtSchemeDataCommentCtrl">
    <h2>Review Facts</h2>
    <table class="table  table-hover table-bordered table-condensed ">
        <thead>
        <tr>
            <th>Sl No.</th>
            <th>Subject</th>
            <th>Comment</th>
            <th>Status</th>
        </tr>
        </thead>
        <tr ng-class="{'success':comment.status==='Active','danger':comment.status==='Disabled'}" ng-repeat="comment in comments">
           <td>
               {{comment.id}}
           </td>
            <td><a  style='cursor:pointer' ng-click="viewComment(comment.name,comment.comment)" >{{comment.subject}}</a></td>
            </td>
            <td>
                {{comment.comment}}
            </td>
            <td  class="switch-field">
                <input type="radio" id="switch_left_{{comment.id}}" name="switch_{{comment.id}}" value="Active" ng-checked="{{comment.status=='Active'}}"/>
                <label  ng-click="toggle(comment.id,'Active',$event)"  for="switch_left_{{comment.id}}">Active</label>
                <input  type="radio" id="switch_right_{{comment.id}}" name="switch_{{comment.id}}" value="Disabled" ng-checked="{{comment.status=='Disabled'}}" />
                <label ng-click="toggle(comment.id,'Disabled',$event)" for="switch_right_{{comment.id}}">Disabled</label>
            </td>
            </tr>
    </table>


    <!--<div class="modal fade" id="fact" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header p_15 red_bar">
                    <button type="button" class="close" data-dismiss="modal"
                            aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="wht_txt">Fact Details</h4>
                </div>
                <div class="modal-body">


                    <div class="form-group">
                        <label for="subject">Subject</label>
                        <input ng-disabled="true" class="form-control" ng-model="factDetailsSubject"  id="subject" placeholder="Subject" type="text">
                    </div>
                    <div class="form-group">
                        <label for="data">Data you Want to submit</label>
						<textarea ng-disabled="true" ng-model="factDetailsComment" class="form-control" id="data"
                                  placeholder="Data you Want to submit"></textarea>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default custom_btn btn_small"
                            data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
-->


</div>
