<div class="govt_schemes sentiment_container ">
    <h2>Promises of Govt Schemes..</h2>
    <form class="search_gvt" method="get">

        <input id="govtsearch" type="search" placeholder="Search" ng-model="scheme" ng-keyup="searchGovtSchemes(scheme,$event)">
        <label for="govtsearch">Please enter a scheme and Hit enter or space  </label>
    </form>

    <div class="full_govt_prom carousel slide" id="govtschemes" data-ride="carousel">
        <div class="carousel-inner" role="listbox">
            <div ng-show="govtSchemes.length==0">
                No Government Schemes to show.
            </div>

            <div ng-class="$index === 0?'item active':'item'"
                 ng-repeat="n in [] | range:Math.ceil(govtSchemes.length / 5)" >
                <ul>
                    <li ng-repeat="i in [5*$index, 5* $index + 1, 5*$index + 2, 5*$index + 3,5*$index + 4]" ng-if="govtSchemes[i]">
                        <img src="{{govtSchemes[i].imageUrl}}" alt="" height="200">
                        <p>
                            {{govtSchemes[i].description1}}
                        </p>
                        <a href="#/ga" class="btn custom_btn">View Progress</a>
                        <a data-toggle="modal" data-target="#fact"
                           href="http://www.mudra.org.in/">Submit Fact</a>
                    </li>
                </ul>
            </div>
        </div>
        <a class="left carousel-control" ng-click="prev('#govtschemes')" role="button" data-slide="prev">
            <span class="fa fa-angle-left" aria-hidden="true"></span>
        </a>
        <a class="right carousel-control" ng-click="next('#govtschemes')" role="button" data-slide="next">
            <span class="fa fa-angle-right" aria-hidden="true"></span>
        </a>
    </div>

</div>
<div ng-include="'views/indicators/submitFact.html'"></div>
