<div class="clearfix"></div>
<div class="text-center">
    <ul class="number_value">
        <li class="fool_nav"><span>{{indicatorsByThreshold['Fooling US'].length}}</span><br> Fooling Us</li>
        <li class="bad_nav"><span>{{indicatorsByThreshold['UnSatisfactory'].length}}</span><br> Bad</li>
        <li class="good_nav"><span>{{indicatorsByThreshold['On Track'].length}}</span><br> Good</li>
        <li class="excellent_nav"><span>{{indicatorsByThreshold['Best Performance'].length}}</span><br> Excellent</li>
    </ul>
</div>
<h2 class="text-center">Tracking Promises and Progress of India</h2>