<div>
    <input type="search" required ng-model="searchTerm"
           ng-keyup="getSuggestions(searchTerm)" placeholder="Search Indicator or scheme e.g. Employment..."/>
        <a href="#/search?q={{searchTerm}}" class=" btn btn-default custom_btn" style="position:fixed;padding-left:20px">Search</a>

        <br/>
    <h1>Search Results for <i>"{{st}}"</i></h1>
    <ul class="searchresults">
        <li ng-repeat="cat in results.categories">
            <h3><a href="#/search">{{cat.name}}</a> </h3>
            <i>Indicator</i>
                {{cat.description}}
        </li>

        <li ng-repeat="govtscheme in results.govtschemes">
            <h3><a href="#/search">{{govtscheme.schemename}}</a></h3>
            <i>Government Schemes</i>
            {{govtscheme.description1}}
        </li>

    </ul>

</div>