<div class="clearfix"></div>
<div class="text-center">
    <form method="get" class="search_indi searchbox">
        <div class="dropdown" id="search_indicator">
        <input type="search" required  autocomplete="off" ng-model="searchTerm" id="searchbox"
               ng-keyup="getSuggestions(searchTerm)" placeholder="Search Indicator or scheme e.g. Employment..."/>
        <ul class="suggestions dropdown-menu" aria-labelledby="searchbox" ng-show="showSearchResults">
            <li ng-repeat="searchResult in searchResults.categories">
                <a href="javascript:void(0);"  ng-click="selectedIndicator(searchResult.id,searchResult.name)" >
                    {{searchResult.name}}
                </a>
            </li>
        </ul>
        </div>

        <a href="#/search?q={{searchTerm}}" class=" btn btn-default custom_btn">Search</a>

    </form>
    <a href="#key_indi" type="submit" class="s_mov custom_btn"><i
            class="fa fa-line-chart"></i> Key Indicators</a>
        </button>
    <a class="gry_txt m_l15" href="#" ><i class="fa fa-share-alt"></i>
            Share</a>
    <a class="btn btn-social-icon btn-facebook facebook" ng-href="https://www.facebook.com/login.php?next=http://www.facebook.com/sharer/sharer.php?u={{liveHost}}/#/ga/indicator/{{activeIndicator}}/{{activeIndicatorName | removeSpaces}}" target="_blank">
        <span class="fa fa-facebook"></span>
    </a>
    <a class="btn btn-social-icon btn-twitter twitter" href="https://twitter.com/share?url={{liveHost}}/#/ga/indicator/{{activeIndicator}}/{{activeIndicatorName | removeSpaces}}" target="_blank">
        <span class="fa fa-twitter"></span>
    </a>
    <a class="btn btn-social-icon btn-google google" href="https://plus.google.com/share?url={{liveHost}}/#/ga/indicator/{{activeIndicator}}/{{activeIndicatorName | removeSpaces}}" target="_blank">
        <span class="fa fa-google"></span>
    </a>

    <a class="btn btn-social-icon btn-linkedin linkedin" href="'http://www.linkedin.com/shareArticle?mini=true&url={{liveHost}}/#/ga/indicator/{{activeIndicator}}/{{activeIndicatorName | removeSpaces}}" target="_blank">
        <span class="fa fa-linkedin"></span>
    </a>


    <a class="btn btn-social-icon btn-linkedin email" data-toggle="modal" data-target="#shareafriend"  href="javascript:void(0)" target="_blank">
        <span class="fa fa-envelope"></span>
    </a>
</div>



<div class="modal" id="shareafriend" tabindex="-1" role="dialog" style="width:40%;top:10%;left:30%" height="40%">
    <div class="modal-dialog trackerpanel">
        <div class="modal-content">
            <div class="modal-header p_15 red_bar">
                <button type="button" class="close" data-dismiss="modal"
                        aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="wht_txt">Share This Page To A Friend</h4>
            </div>
            <div class="modal-body">

                <div class="form-group">
                    <label for="yourname">Your Name</label>
                    <input id="yourname" class="form-control" ng-model="shareObj.sharerName" placeholder="Subject" type="text">
                </div>


                <div class="form-group">
                    <label for="youremail">Your Email</label>
                    <input id="youremail" class="form-control" ng-model="shareObj.sharerEmail" placeholder="Subject" type="text">
                </div>

                <div class="form-group">
                    <label for="recipentName">Recipent's Name</label>
                    <input id="recipentName" class="form-control" ng-model="shareObj.receiverName" placeholder="Subject" type="text">
                </div>


                <div class="form-group">
                    <label for="recipentEmail">Recipent's Email</label>
                    <input id="recipentEmail" class="form-control" ng-model="shareObj.receiverEmail" placeholder="Subject" type="text">
                </div>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default custom_btn btn_small"
                        data-dismiss="modal">Close</button>
                <button type="button" ng-click="share()" class="btn custom_btn btn_small red">Share</button>
            </div>
        </div>
    </div>
</div>
