<div>
    <div class="container">
        <div class="row">
            <div class='col-sm-6'>

                <h3>Create Category/SubCategory/Indicator</h3>
                <form class="form-horizontal">
                    <div class="form-group">
+                        <label for="indicator" class="col-sm-5 control-label">Type :</label>
                        <div class="col-sm-7">
                            <select id="indicator" ng-model="category.type" class="form-control" ng-change="changeType()">
                                <option>Category</option>
                                <option>SubCategory</option>
                                <option>Indicator</option>
                            </select></div>
                    </div>

                    <div class="form-group" ng-if="category.type=='SubCategory' || category.type=='Indicator'">
                        <label for="indi_value" class="col-sm-5 control-label">Category:</label>
                        <div class="col-sm-3">
                            <select ng-model="category.categoryId" class="form-control" ng-change="fetchSubCategories(category.categoryId)">
                                <option ng-repeat="item in categories" ng-value="{{item.id}}">{{item.name}}</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group" ng-if="category.type=='Indicator'">
                        <label for="indi_value" class="col-sm-5 control-label">SubCategory:</label>
                        <div class="col-sm-3">
                            <select  ng-model="category.subCategoryId" class="form-control">
                                <option ng-repeat="item in subcategories" ng-value="{{item.id}}">{{item.name}}</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="indi_value" class="col-sm-5 control-label">Name:</label>
                        <div class="col-sm-3">
                            <input type="text" ng-model="category.name" class="form-control" id="indi_value">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="indi_value" class="col-sm-5 control-label">Description:</label>
                        <div class="col-sm-3">
                            <input type="text" ng-model="category.description" class="form-control" id="indi_value">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="indi_value" class="col-sm-5 control-label">Status:</label>
                        <div class="col-sm-3">
                            <select id="status" ng-model="category.status" class="form-control">
                                <option>Active</option>
                                <option>Disabled</option>
                                <option>Deleted</option>
                            </select>
                        </div>
                    </div>


                    <div class="form-group">
                        <div class="col-sm-offset-5 col-sm-10">
                            <input type="reset" value="Reset" class="btn btn-default custom_btn"/>
                            <button type="submit" class="btn btn-default custom_btn" ng-click="saveCategory(category)">
                                Add Category
                            </button>
                        </div>
                    </div>

                </form>


            </div>
        </div>
    </div>
</div>