
<div id="carousel-slider_box" class="carousel slide" data-ride="carousel">
    <!-- Categories -->
    <ol class="carousel-indicators" id="categorycarousel" style="float:right">

        <li   ng-repeat="category in categories" data-target="#carousel-slider_box" data-slide-to="{{$index}}"
              ng-class="category.id === activeCategory?'active':''">
            <a href="#/ga" ng-click="selectSubCategories(category.id)"><img
                    src={{category.imageURL}} alt=""></a>
            <h2>{{category.name}}</h2>
            <!--<p class="fool">
                Fooling Us <span>9</span>
            </p>-->
        </li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <div class="ga_box_container">
                <ul class="nav nav-tab_left" role="tablist">
                    <li role="presentation"
                        ng-repeat="subcategory in subcategories.childs"
                        ng-class="{'indicatorstatus_good':subcategory.thresholdState,'indicatorstatus_bad':!subcategory.thresholdState,'right active':subcategory.id === activeSubCategory,'right ':!(subcategory.id === activeSubCategory)}">
                        <a  ng-click="selectIndicators(subcategory.id);" aria-controls="Corruption" role="tab" data-toggle="tab">
                            {{subcategory.name}} </a>
                    </li>

                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane" id="Corruption">.1.</div>
                    <div role="tabpanel" class="tab-pane active" id="Price">
                        <div class="left_section">
                            <img src="{{activeSubCat.imageURL}}" alt="">
                            <div class="clearfix"></div>
                            <br>
                            <h2>{{activeSubCat.name}}</h2>
                            <br>
                            <div read-more="activeSubCat.description" style="overflow:hidden" read-more-options="readmoreoptions"></div>
                        </div>
                        <div class="right_section">
                            <div class="clearfix"></div>
                            <div ng-include="'views/indicators/categorychart.html'"></div>
                            <br>

                        </div>

                    </div>
                    <div role="tabpanel" class="tab-pane" id="Black">.3.</div>
                    <div role="tabpanel" class="tab-pane" id="Welfare">.4.</div>
                    <div role="tabpanel" class="tab-pane" id="Employment">.5.</div>
                    <div role="tabpanel" class="tab-pane" id="Food">.6.</div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <!-- Indicators -->


        <div ng-include="'views/schemes/tracker.html'"></div>

    </div>

</div>