<div class="col-md-12">
    <div class="col-md-12">
        <div id="category_chart">
            <chartelementserial id="chart_categories" graphdata="graphdata">
            </chartelementserial>
        </div>


        <div class="col-md-12 press">
            <div class="col-md-6" ng-if="indicators.childs.length > 0"
                 ng-repeat="indicator in indicators.childs">
                <input  value="{{indicator.id}}" class="radio" id="indicator_{{indicator.id}}" ng-click="updateIndicatorChart(indicator.id)" type="checkbox"  ng-checked="{{indicator.id==activeIndicator}}">
                <label style="font-size: 100%;" for="indicator_{{indicator.id}}">{{indicator.name}}</label>
            </div>
            <div class="col-md-6" ng-if="indicators.childs.length === 0">
                No Active Indicators Found</div>
        </div>


    </div>
</div>