<div id="key_indi" class="key_indi">
    <div class="left_com">
        <h2>Key Indicators</h2>
        <a class="gry_txt m_l15" href="#"><i class="fa fa-share-alt"></i>
            Share</a>
        <div class="clearfix"></div>
        <div id="chartContainer1">
            <chartelementserial id="keyindicators1" graphdata="keyindicators" name="keyindicatorsgraph"></chartelementserial>
        </div>
    </div>
    <div class="right_com">
        <h2 class="inline m_r10">{{primaryIndicatorTitle}}</h2>
        <div id="chartContainer2">
            <chartelementserial comparable="false" id="keyindicators2" graphdata="primaryIndicator" />
        </div>
        <div class="clearfix"></div>
        <br>

        <div class="clearfix"></div>
    </div>
</div>
<div class="clearfix"></div>