<div>
    <div class="container">
        <div class="row">
            <div class='col-sm-6'>

                <h3>Add Indicator Values</h3>
                <form class="form-horizontal">
                    <div class="form-group">
                        <label for="indicator" class="col-sm-5 control-label">Indicator:</label>
                        <div class="col-sm-7">
                            <select id="indicator" ng-model="indicatorObj.id" class="form-control">
                                <option ng-repeat="indicator in indicators" ng-value="indicator.categoryID">
                                    {{indicator.name}}
                                </option>
                            </select></div>
                    </div>
                    <div class="form-group">
                        <label for="indi_value" class="col-sm-5 control-label">Indicator value:</label>
                        <div class="col-sm-3">
                            <input type="text" ng-model="indicatorObj.score" class="form-control" id="indi_value">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="effectiveDate" class="col-sm-5 control-label">Effective Date:</label>
                        <div class='input-group date  col-sm-4' style="padding-left:10px">
                            <input id="effectiveDate" ng-model="indicatorObj.effectfromdate" type='text' class="form-control datepicker" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="creationDate" class="col-sm-5 control-label">Creation Date:</label>
                        <div class='input-group date col-sm-4' style="padding-left:10px">
                            <input type='text' id="creationDate" ng-model="indicatorObj.createTime" class="form-control datepicker" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-offset-5 col-sm-10">
                            <input type="reset" value="Reset" class="btn btn-default custom_btn"/>
                            <button type="submit" class="btn btn-default custom_btn" ng-click="saveIndicator(indicatorObj)">Load Indicator Value </button>
                        </div>
                    </div>

                </form>


            </div>
        </div>
    </div>
</div>

<script>
    $(function () {
        jQuery('.datepicker').each(function(){
            $(this).datepicker({ format: 'dd/mm/yyyy',autoclose:true});
        });
    })
    /*jQuery(document).ready(function () {
        jQuery('.datepicker').each(function(){
            $(this).datepicker({ format: 'dd/mm/yyyy',autoclose:true});
        });
    });*/
</script>