
<div class="modal fade" id="fact" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header p_15 red_bar">
                <button type="button" class="close" data-dismiss="modal"
                        aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="wht_txt">Submit Fact</h4>
            </div>
            <div class="modal-body">
                <div ng-show="submitFactStatus" class="alert alert-success">
                    Thanks For Submitting the Facts.
                </div>


                <div class="form-group">
                    <label for="subject">Subject</label>
                    <input class="form-control" ng-model="submitFact.subject"  id="subject" placeholder="Subject" type="text">
                </div>
                <div class="form-group">
                    <label for="data">Data you Want to submit</label>
						<textarea ng-model="submitFact.comment" class="form-control" id="data"
                                  placeholder="Data you Want to submit"></textarea>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default custom_btn btn_small"
                        data-dismiss="modal">Close</button>
                <button type="button" ng-click="submitFactForSchema()" class="btn custom_btn btn_small red">Submit</button>
            </div>
        </div>
    </div>
</div>
