<div class="number_pop">
    <div class="row">
        <div class="col-md-3">
            <div class="out_bx">
                <a href="javascript:void(0)" class="number_show">{{indicatorsByThreshold['Fooling US'].length}}</a>
                <div id="carousel-number" class="carousel slide"
                     data-ride="carousel"  data-pause="false">
                    <!-- Indicators -->
                    <ol class="carousel-indicators" ng-show="indicatorsByThreshold['Fooling US'].length>5">
                        <li ng-click="prev('#carousel-number')"  data-target="#carousel-number" data-slide-to="{{$index}}"> <i class="fa fa-chevron-left" aria-hidden="true"></i></li>
                        <li ng-click="next('#carousel-number')"  data-target="#carousel-number" data-slide-to="{{$index}}"> <i class="fa fa-chevron-right" aria-hidden="true"></i></li>
                    </ol>
                   <!-- <ol class="carousel-indicators" ng-show="indicatorsByThreshold['Fooling US'].length>5">

                        <li  ng-class="$index === 0?'active':''" ng-repeat="n in [] | range:Math.ceil(indicatorsByThreshold['Fooling US'].length / 5)"
                             data-target="#carousel-number" data-slide-to="{{$index}}"></li>
                    </ol>-->


                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" role="listbox">
                        <div ng-class="$index === 0?'item active':'item'"
                             ng-repeat="n in [] | range:Math.ceil(indicatorsByThreshold['Fooling US'].length / 5)" >
                            <ul class="indicators_tracker">
                                <li qtip  qtip-content="{{indicatorsByThreshold['Fooling US'][i].category.description}}"  ng-repeat="i in [5*$index, 5* $index + 1, 5*$index + 2, 5*$index + 3, 5*$index + 4]" ng-if="indicatorsByThreshold['Fooling US'][i]">
                                    <a  href="#/ga" data-original-title="{{indicatorsByThreshold['Fooling US'][i].category.description}}"  data-text="{{indicatorsByThreshold['Fooling US'][i].category.name }}" data-toggle="modal" ng-click="showIndicator(indicatorsByThreshold['Fooling US'][i].category.id)" data-target="#indicatorgraph" >{{i+1}}. {{indicatorsByThreshold['Fooling US'][i].category.name }}</a></li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
            <h2 class="red_txt">Fooling US</h2>
        </div>
        <div class="col-md-3">
            <div class="out_bx black">
                <a href="javascript:void(0)" class="number_show">{{indicatorsByThreshold['UnSatisfactory'].length}}</a>
                <div id="carousel-number-black" class="carousel slide"
                     data-ride="carousel">
                    <!-- Indicators -->
                    <!--<ol class="carousel-indicators" ng-show="indicatorsByThreshold['UnSatisfactory'].length>5">
                        <li  ng-class="$index === 0?'active':''" ng-repeat="n in [] | range:Math.ceil(indicatorsByThreshold['UnSatisfactory'].length / 5)"
                            data-target="#carousel-number-black" data-slide-to="{{$index}}"></li>
                    </ol>-->
                    <ol class="carousel-indicators" ng-show="indicatorsByThreshold['UnSatisfactory'].length>5">
                        <li ng-click="prev('#carousel-number-black')"  data-target="#carousel-number-black" data-slide-to="{{$index}}"> <i class="fa fa-chevron-left" aria-hidden="true"></i></li>
                        <li ng-click="next('#carousel-number-black')"  data-target="#carousel-number-black" data-slide-to="{{$index}}"> <i class="fa fa-chevron-right" aria-hidden="true"></i></li>
                    </ol>

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" role="listbox">
                        <div ng-class="$index === 0?'item active':'item'"
                             ng-repeat="n in [] | range:Math.ceil(indicatorsByThreshold['UnSatisfactory'].length / 5)" >
                            <ul>
                                <li  qtip  qtip-content="{{indicatorsByThreshold['UnSatisfactory'][i].category.description}}"   ng-repeat="i in [5*$index, 5* $index + 1, 5*$index + 2, 5*$index + 3, 5*$index + 4]" ng-if="indicatorsByThreshold['UnSatisfactory'][i]">
                                    <a   href="#/ga" data-toggle="tooltip" data-placement="bottom" data-original-title="{{indicatorsByThreshold['UnSatisfactory'][i].category.description}}" ng-click="showIndicator(indicatorsByThreshold['UnSatisfactory'][i].category.id)"   model="#indicatorgraph" >{{i+1}}. {{indicatorsByThreshold['UnSatisfactory'][i].category.name }}</a></li>
                            </ul>
                        </div>

                    </div>
                </div>

            </div>
            <h2>Bad</h2>
        </div>
        <div class="col-md-3">
            <div class="out_bx safron">
                <a href="javascript:void(0)" class="number_show">{{indicatorsByThreshold['On Track'].length}}</a>
                <div id="carousel-number-safron" class="carousel slide"
                     data-ride="carousel">
                    <!-- Indicators -->
                    <ol class="carousel-indicators" ng-show="indicatorsByThreshold['On Track'].length>5">
                        <li ng-click="prev('#carousel-number-safron')"  data-target="#carousel-number-safron" data-slide-to="{{$index}}"> <i class="fa fa-chevron-left" aria-hidden="true"></i></li>
                        <li ng-click="next('#carousel-number-safron')"  data-target="#carousel-number-safron" data-slide-to="{{$index}}"> <i class="fa fa-chevron-right" aria-hidden="true"></i></li>
                    </ol>

                  <!--  <ol class="carousel-indicators" ng-show="indicatorsByThreshold['On Track'].length>5">
                        <li  ng-class="$index === 0?'active':''" ng-repeat="n in [] | range:Math.ceil(indicatorsByThreshold['On Track'].length / 5)"
                             data-target="#carousel-number-safron" data-slide-to="{{$index}}"></li>
                    </ol>-->


                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" role="listbox">

                        <div ng-class="$index === 0?'item active':'item'"
                             ng-repeat="n in [] | range:Math.ceil(indicatorsByThreshold['On Track'].length / 5)" >
                            <ul>
                                <li  qtip  qtip-content="{{indicatorsByThreshold['On Track'][i].category.description}}"  ng-repeat="i in [5*$index, 5* $index + 1, 5*$index + 2, 5*$index + 3, 5*$index + 4]" ng-if="indicatorsByThreshold['On Track'][i]">
                                    <a href="#/ga" tooltip-placement="bottom" tooltip="{{indicatorsByThreshold['On Track'][i].category.description}}" ng-click="showIndicator(indicatorsByThreshold['On Track'][i].category.id)"  data-toggle="modal" data-target="#indicatorgraph" >{{i+1}}. {{indicatorsByThreshold['On Track'][i].category.name }}</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
            <h2 class="safron_txt">On Track</h2>
        </div>
        <div class="col-md-3">
            <div class="out_bx green">
                <a href="javascript:void(0)" class="number_show">{{indicatorsByThreshold['Best Performance'].length}}</a>



                <div id="carousel-number-green" class="carousel slide"
                     data-ride="carousel">
                    <!-- Indicators -->

                    <!--<ol class="carousel-indicators" ng-show="indicatorsByThreshold['Best Performance'].length>5">
                        <li  ng-class="$index === 0?'active':''" ng-repeat="n in [] | range:Math.ceil(indicatorsByThreshold['Best Performance'].length / 5)"
                             data-target="#carousel-number-green" data-slide-to="{{$index}}"></li>
                    </ol>-->

                    <ol class="carousel-indicators" ng-show="indicatorsByThreshold['Best Performance'].length>5">
                        <li ng-click="prev('#carousel-number-green')"  data-target="#carousel-number-green" data-slide-to="{{$index}}"> <i class="fa fa-chevron-left" aria-hidden="true"></i></li>
                        <li ng-click="next('#carousel-number-green')"  data-target="#carousel-number-green" data-slide-to="{{$index}}"> <i class="fa fa-chevron-right" aria-hidden="true"></i></li>
                    </ol>

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" role="listbox">
                        <div ng-class="$index === 0?'item active':'item'"
                             ng-repeat="n in [] | range:Math.ceil(indicatorsByThreshold['Best Performance'].length / 5)" >
                            <ul>
                                <li  qtip  qtip-content="{{indicatorsByThreshold['Best Performance'][i].category.description}}"   ng-repeat="i in [5*$index, 5* $index + 1, 5*$index + 2, 5*$index + 3, 5*$index + 4]" ng-if="indicatorsByThreshold['Best Performance'][i]">
                                    <a  href="#/ga"  data-toggle="tooltip" data-placement="bottom" data-original-title="{{indicatorsByThreshold['Best Performance'][i].category.description}}"  ng-click="showIndicator(indicatorsByThreshold['Best Performance'][i].category.id)"   data-toggle="modal" data-target="#indicatorgraph" >{{i+1}}. {{indicatorsByThreshold['Best Performance'][i].category.name }}</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
            <h2 class="green_txt">Excellent</h2>
        </div>
    </div>
</div>


<div class="modal" id="indicatorgraph" tabindex="-1" role="dialog" width="60%" height="40%">
    <div class="modal-dialog trackerpanel">
        <div class="modal-content">
            <div class="modal-header p_15 red_bar">
                <button type="button" class="close" data-dismiss="modal"
                        aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="wht_txt">{{primaryIndicatorTitle}}</h4>
            </div>
            <div class="modal-body">
                <chartelementserial id="primaryIndicator1" graphdata="primaryIndicator">
                </chartelementserial>

            </div>
            <div class="modal-footer">

            </div>
        </div>
    </div>
</div>
