.ng-touched.ng-invalid{
    border-bottom: 1px solid #da637a;
}
form.ng-submitted input.ng-invalid-required,
form.ng-submitted textarea.ng-invalid-required,
form.ng-submitted select.ng-invalid-required{
    border-bottom: 1px solid #da637a;
}
form.ng-submitted input[type="radio"].ng-invalid-required,
form.ng-submitted input[type="checkbox"].ng-invalid-required{
    border: 1px solid #da637a;
}
.ng-touched.ng-valid{
    /* border: 1px solid #4CAF50; */
}
.error{
    color: #ed143d;
}
.signup-btn-ctnr {
    margin-top: 12px;
    text-align: right;
}
.signup-btn-ctnr .custom_btn {
    display: inline;
    width: 40%;
    margin: 6px;
}
.selected-senti{
    position: relative;
}
#shadow-backdrop {
    position: absolute;
    top: 6px;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    background-color: #000;
    opacity: 0.2;
}
.opinion_one input#searchSentFrmInput {
    width: 90%;
}
.senti_bx .close {
    background: rgb(239, 45, 39);
    border-radius: 100%;
    color: #fff;
    height: 20px;
    opacity: 1;
    position: relative;
    text-shadow: 0 0 0 rgba(0, 0, 0, 0);
    width: 20px;
    float: left;
}
.reset-sntmt{
    position: absolute;
    right: 1px;
}
.collapse-text-toggle {
    font-size: 0.9em;
    color: #222;
    cursor: pointer;
}
.collapse-text-toggle:hover {
    color: #ef2d27;
}
.collapse-text-toggle:before {
    content: '\00a0(';
}
.collapse-text-toggle:after {
    content: ')';
}
.response-input {
    width: calc(100% - 206px);
    border: 1px solid #ddd;
    box-sizing: border-box;
    float: left;
    height: 51px;
    padding: 5px 10px;
    background-color: #fff;
    overflow: auto;
    margin: 0 8px;
    color: inherit;
    font-size: inherit;
}
.tribute-demo-input {
    outline: none;
    border: 1px solid #eee;
    padding: 3px 5px;
    border-radius: 2px;
    font-size: 15px;
    min-height: 110px;
    cursor: text;
    margin-top: 3px;
}
[contenteditable=true]:empty:before{
    content: attr(placeholder);
    display: block;
}
[contenteditable=false]:empty:before{
    content: attr(placeholder);
    display: block;
}
.rebut_page {
    display: block;
}
#pinningOpinion a, .response-input a {
    color: #ef2d27;
    text-decoration: underline;
    font-size: 13px;
    font-weight: normal;
}
.badge-error {
    background-color: #b94a48;
}
.badge-error:hover {
    background-color: #953b39;
}

.dropdown-menu {
   /*  min-width: 394px; --removed inorder to decrease the width of dropdown with id=drop3 in index.html*/
   width:200px;
    right: 100%;
    left: auto;
}
.btn-grey{
    background: #b1adaa !important;
}
.opin_on{
    background: #e6e6e6;
}
.unreadli {background: #f2f2f2;}

.opin_noti > span.protype {background: #ff7305;
    color:#fff;}

.opin_noti > span.antitype {background: #128807;color:#fff;}
}
.ng-invalid {
    border-color: red;
    outline-color: red;
}

ng-pristine {
    border-color: lightblue;
}

/* .ng-valid {
    border-color: green;
    outline-color: green;
}

.messages {
  font-size: smaller;
  padding-top: 5px;
  padding-bottom: 10px;
  color: red;
} */
.urlive-container {
    margin-top:15px;
}

.opin_noti > span.antitype {background: #128807;color:#fff;}
.opin_noti > span.antitype {background: #128807;color:#fff;}
.unreadli {background: #f2f2f2;}

.opin_noti > span.protype {background: #ff7305; color: #fff;border-radius: 2px;line-height: 100%;padding: 3px 9px;color:#fff;}
.opin_noti > span.antitype {background: #128807;color:#fff;border-radius: 2px;line-height: 100%;padding: 3px 9px;color:#fff;}
.opin_noti > span.time {
    margin-right: 11px;
}

.search_user_text{
	    font-size: 14px;
    font-weight: 300;
    line-height: 1.42 !important;
    margin-top: 0px;
    color: #636363;
}
.opin_on ul.list_item_bx li a:hover, .opin_on ul.list_item_bx li a.active{background:rgb(239,45,39); color: #fff; text-decoration:none; border-color:rgb(239,45,39);}

.against_round .rate_, .support_round .rate_ {
    width: 20px;
    height: 20px;
    font-size: 9px;
    line-height: 20px;
    letter-spacing: -1px;
}.respond_sec{
     padding:15px;
     background:#f3f3f3;
     margin-bottom:15px;
     display:block;
 }
 .times_of_news, .times_of_news:hover, .times_of_news:focus{ margin: 15px 0 0 20px;}
 .pull-right .by_date { margin: 10px 0 0 20px;}
 
 /* input[type="tel"] {
  border: 1px solid #ddd;
  padding: 4px 8px;
}
input[type="tel"]:focus {
  border: 1px solid #000;
}
  */
#carousel-sentiment-perma .item, #carousel-sentiment-perma .item{padding:15px 0;}
#carousel-sentiment-perma .item ul, #carousel-sentiment-perma .item ul{margin: 0 -7px; padding: 0;} 
ul.sentiment_slide li, #carousel-sentiment-perma .item ul li{position:relative; margin-top:30px; float:left; display:inline;}
#carousel-sentiment-perma .item ul li .time, ul.sentiment_slide li .time{border-right: 1px dashed #ddd; height: calc(100% + 40px); position: absolute; right: 0; top: -40px; color:#6f6b6b; font-weight:300; padding-right:10px; font-size:13px;}
#carousel-sentiment-perma .item ul li .verdict, ul.sentiment_slide li .verdict{position:absolute; top:-20px; height:28px; width:28px; z-index:10; right:20px; background:url("../images/sprite.png"); background-position:-130px -350px;}
.box_sentiment.active{background:#ef2d27;}
#carousel-sentiment-perma .item ul li .box_sentiment-perma .verdict:hover, #carousel-sentiment-perma .item ul li .box_sentiment .verdict:hover{background-position:-160px -350px;}
#carousel-sentiment-perma .item ul li .box_sentiment-perma.active .verdict, #carousel-sentiment-perma .item ul li .box_sentiment.active .verdict{background-position:0 0; background:url("../images/sentiment_gif.gif");}

.not-active {
   pointer-events: none;
   cursor: default;
}
ul.noti_sett li ul.sub_lis{padding:0px 0; margin-top:10px; clear:both; border-top:1px solid #ddd;}
.poll_out .run{transition:all 1.5s ease 0s;  float:left; height:3px; background:#ef2d27;}

.right_section{ 
	width: 65% !important;
}
.opn-pool-title{ 
	border: 1px solid #ddd;background: #f6f5f5; 
}
.opn-pool-title p{
	margin: 5px 5px;font-weight: 600;color: #f00;font-size: 16px;
}
.detail_txt .custom_btn {
    background: #fff;
    border: 1px solid #ef2d27;
    display: inline-block;
    margin: 0;
    padding: 7px 15px;
}
.detail_txt .custom_btn:hover {
    color: #ef2d27;
}
.hr_poll{height: 3px; width:220px; display:none;
    background: linear-gradient(90deg, red 0%, transparent 100%);}

.opinion_aggr_score{
	width: 50%;
	margin: 0px 25%;
}
.opinion_aggr_score p.left{
	width: 50%;
	float: left;
	text-align: left;
	margin: 0;
}
.opinion_aggr_score p.right{
	width: 50%;
	float: left;
	text-align: right;
	margin: 0;
}
.poll_out_green{
	background: #128807;
}
.opinion_poll_out{
	height: 10px;
	width: 50%;
	margin: 0px 25% 8px;
}
.opinion_poll_out .run{
	height: 10px;
	background: #ff7305;
}
.selected-box{
	border: 1px solid #ef2d27;
	background: #ef2d27;
}
.amChartsButton {
 background: transparent;
    border: 1px solid #ccc;
    margin: 10px 0;
    display:inline !important;
 }
 .amChartsButton:hover, .amcharts-period-input-selected{
     background: #ef2d27;
    color: #fff;
    border: 1px solid #ef2d27;
 }
#pswd_info {
    font-size:.800em;
   background:#fefefe;
}