<header>
			<div class="top_bar">
				<div class="outer">
					<form class="search" method="post">
						<div class="card-drop">
							<a class='toggle' href="#"><i class="icn_srh all"></i></a>
							<ul>
								<li class='active'><a data-label="Skills" href="#"><i
										class="icn_srh all"></i> All</a></li>
								<li><a data-label="Html5" href="#"><i
										class="icn_srh people"></i> People</a></li>
								<li><a data-label="CSS3" href="#"><i
										class="icn_srh opin"></i> Opinion</a></li>
								<li><a data-label="Linux" href="#"><i
										class="icn_srh verd"></i> Verdict</a></li>
							</ul>
						</div>
						<input type="search" value=""
							placeholder="Select Search Opinion, People, Verdict...">
						<input type="submit" value="">
					</form>
				</div>
				<a href="javascript:void(0)" class="earn animation"></a>
				<ul class="social">
					<li><a href="javascript:void(0)" id="dropdownMenu3"
						data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
						class="social_top msg"></a>
						<ul class="video_vic notification" aria-labelledby="dropdownMenu3">
							<li><a href="#"> <span class="opin_noti">
										<h2>Govt of #Karnataka Disallows #Cabs #SURGE Pricing:
											FAIR MOVE!</h2>
										<div class="clearfix"></div> <span class="time"><i
											class="fa fa-clock-o"></i> 15 Min ago</span><span><img
											src="images/user_pic.jpg" alt="" width="15"> Rohit Roy</span><span
										class="senti">Economy</span> <span
										class="pro verd_sup pull-right">Pro</span>
								</span>
							</a></li>
							<li><a href="#"> <span class="opin_noti">
										<h2>Govt of #Karnataka Disallows #Cabs #SURGE Pricing:
											FAIR MOVE!</h2>
										<div class="clearfix"></div> <span class="time"><i
											class="fa fa-clock-o"></i> 15 Min ago</span><span><img
											src="images/user_pic.jpg" alt="" width="15"> Rohit Roy</span><span
										class="senti">Economy</span> <span
										class="anti verd_sup pull-right">Anti</span>
								</span>
							</a></li>
							<li><a href="#"> <span class="opin_noti">
										<h2>Govt of #Karnataka Disallows #Cabs #SURGE Pricing:
											FAIR MOVE!</h2>
										<div class="clearfix"></div> <span class="time"><i
											class="fa fa-clock-o"></i> 15 Min ago</span> <span><img
											src="images/user_pic.jpg" alt="" width="15"> Rohit Roy</span><span
										class="senti">Economy</span> <span
										class="pro verd_sup pull-right">Pro</span>
								</span>
							</a></li>
							<li><a href="#"> <span class="opin_noti">
										<h2>Govt of #Karnataka Disallows #Cabs #SURGE Pricing:
											FAIR MOVE!</h2>
										<div class="clearfix"></div> <span class="time"><i
											class="fa fa-clock-o"></i> 15 Min ago</span><span><img
											src="images/user_pic.jpg" alt="" width="15"> Rohit Roy</span><span
										class="senti">Economy</span> <span
										class="anti verd_sup pull-right">Anti</span>
								</span>
							</a></li>

							<li><a href="javascript:void(0)"
								class="custom_btn btn-block text-center">View All</a></li>
						</ul></li>
					<li><a id="dropdownMenu2" data-toggle="dropdown"
						aria-haspopup="true" aria-expanded="false"
						href="javascript:void(0)" class="social_top video"></a>
						<ul class="video_vic" aria-labelledby="dropdownMenu2">
							<li><a href="#"> <span class="type_vid"> <img
										src="images/vid_noti.jpg" alt="">
								</span> <span class="right_bx">
										<h2 class="inline">Rohit Roy</h2> <img
										src="images/smiley-noti.png" alt=""> <i
										class="fa fa-file-video-o"></i>
										<div class="clearfix"></div> <span class="time"><i
											class="fa fa-clock-o"></i> 15 Min ago</span><span>Label Text</span>
								</span>
							</a></li>
							<li><a href="#"> <span class="type_vid"> <img
										src="images/vid_noti.jpg" alt="">
								</span> <span class="right_bx">
										<h2 class="inline">Rohit Roy</h2> <img
										src="images/smiley-noti.png" alt=""> <i
										class="fa fa-file-video-o"></i>
										<div class="clearfix"></div> <span class="time"><i
											class="fa fa-clock-o"></i> 15 Min ago</span><span>Label Text</span>
								</span>
							</a></li>
							<li><a href="#"> <span class="type_vid"> <img
										src="images/vid_noti.jpg" alt="">
								</span> <span class="right_bx">
										<h2 class="inline">Rohit Roy</h2> <img
										src="images/smiley-noti.png" alt=""> <i
										class="fa fa-file-video-o"></i>
										<div class="clearfix"></div> <span class="time"><i
											class="fa fa-clock-o"></i> 15 Min ago</span><span>Label Text</span>
								</span>
							</a></li>
							<li><a href="#"> <span class="type_vid"> <img
										src="images/vid_noti.jpg" alt="">
								</span> <span class="right_bx">
										<h2 class="inline">Rohit Roy</h2> <img
										src="images/smiley-noti.png" alt=""> <i
										class="fa fa-file-video-o"></i>
										<div class="clearfix"></div> <span class="time"><i
											class="fa fa-clock-o"></i> 15 Min ago</span><span>Label Text</span>
								</span>
							</a></li>
							<li><a href="#"> <span class="type_vid"> <img
										src="images/vid_noti.jpg" alt="">
								</span> <span class="right_bx">
										<h2 class="inline">Rohit Roy</h2> <img
										src="images/smiley-noti.png" alt=""> <i
										class="fa fa-file-video-o"></i>
										<div class="clearfix"></div> <span class="time"><i
											class="fa fa-clock-o"></i> 15 Min ago</span>
								</span>
							</a></li>
							<li><a href="#"> <span class="type_vid"> <img
										src="images/vid_noti.jpg" alt="">
								</span> <span class="right_bx">
										<h2 class="inline">Rohit Roy</h2> <img
										src="images/smiley-noti.png" alt=""> <i
										class="fa fa-file-video-o"></i>
										<div class="clearfix"></div> <span class="time"><i
											class="fa fa-clock-o"></i> 15 Min ago</span>
								</span>
							</a></li>
							<li><a href="#"> <span class="type_vid"> <img
										src="images/vid_noti.jpg" alt="">
								</span> <span class="right_bx">
										<h2 class="inline">Rohit Roy</h2> <img
										src="images/smiley-noti.png" alt=""> <i
										class="fa fa-file-video-o"></i>
										<div class="clearfix"></div> <span class="time"><i
											class="fa fa-clock-o"></i> 15 Min ago</span>
								</span>
							</a></li>
							<li><a href="javascript:void(0)"
								class="custom_btn btn-block text-center">View All</a></li>
						</ul></li>
					<li><a href="javascript:void(0)" id="dropnoti"
						data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
						class="social_top noti"></a>
						<ul class="video_vic" aria-labelledby="dropnoti">
							<li><a href="#"> <span class="type_vid"> <img
										src="images/img_comment.png" alt="">
								</span> <span class="right_bx">
										<h2>
											Rohit Roy Commented on your <span class="link">opinion</span>
										</h2>
										<div class="clearfix"></div> <span class="time"><i
											class="fa fa-clock-o"></i> 10 Min ago</span>
								</span>
							</a></li>
							<li><a href="#"> <span class="type_vid"> <img
										src="images/user_pic.jpg" alt="">
								</span> <span class="right_bx">
										<h2>
											Rohit Roy Like your <span class="link">Reponse on XYZ
												Sentiment</span>.
										</h2>
										<div class="clearfix"></div> <span class="time"><i
											class="fa fa-clock-o"></i> 15 Min ago</span>
								</span>
							</a></li>
							<li><a href="#"> <span class="type_vid"> <img
										src="images/leader.png" alt="">
								</span> <span class="right_bx">
										<h2>
											Rohit Roy Earn Badge <span class="link">Congrtulate
												Him</span>.
										</h2>
										<div class="clearfix"></div> <span class="time"><i
											class="fa fa-clock-o"></i> 25 Min ago</span>
								</span>
							</a></li>
							<li><a href="#"> <span class="type_vid"> <img
										src="images/user_img.jpg" alt="">
								</span> <span class="right_bx">
										<h2>
											Rohit Roy Mentioned you in <span class="link">Economic
												consequences of demonetization</span>.
										</h2>
										<div class="clearfix"></div> <span class="time"><i
											class="fa fa-clock-o"></i> 35 Min ago</span>
								</span>
							</a></li>
							<li><a class="custom_btn btn-block text-center"
								href="javascript:void(0)">View All</a></li>
						</ul></li>
					<li><a href="#" class="social_top share"></a></li>
					<li><a href="javascript:void(0)" id="dropshare"
						data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
						class="social_top loud"><span class="blink"></span></a>
						<ul class="video_vic" aria-labelledby="dropshare">
							<li><span class="type_vid"> <img
									src="images/img_comment.png" alt="">
							</span> <span class="right_bx">
									<h2 class="inline">Rohit Roy</h2> <span><i
										class="fa fa-map-marker"></i> Mohali</span><span class="typ_con">CONNECT</span>
									<div class="clearfix"></div>
									<h2 class="inline">
										<a href="javascript:void(0)">4 mutual friends</a>
									</h2> <a class="custom_btn" href="javascript:void(0)">Accept</a> <a
									class="custom_btn" href="javascript:void(0)">Reject</a> <span>Friend</span>
							</span></li>
							<li><span class="type_vid"> <img
									src="images/vid_noti.jpg" alt="">
							</span> <span class="right_bx">
									<h2 class="inline">Agusta Westland</h2>
									<span class="typ_con">Task</span>
									<div class="clearfix"></div>
									<h2 class="inline">
										<span>Invited By</span> <a href="javascript:void(0)">Rajesh
											Rao</a>
									</h2> <a class="custom_btn" href="javascript:void(0)">Accept</a> <a
									class="custom_btn" href="javascript:void(0)">Reject</a>
							</span></li>
							<li><span class="type_vid"> <img
									src="images/vid_noti.jpg" alt="">
							</span> <span class="right_bx">
									<h2 class="inline">Agusta Westland</h2>
									<span class="typ_con">Task</span>
									<div class="clearfix"></div>
									<h2 class="inline">
										<span>Invited By</span> <a href="javascript:void(0)">Rajesh
											Rao</a>
									</h2> <a class="custom_btn" href="javascript:void(0)">Accept</a> <a
									class="custom_btn" href="javascript:void(0)">Reject</a>
							</span></li>
							<li><span class="type_vid"> <img
									src="images/img_comment.png" alt="">
							</span> <span class="right_bx">
									<h2 class="inline">Rohit Roy</h2> <span><i
										class="fa fa-map-marker"></i> Mohali</span> <span class="typ_con">CONNECT</span>
									<div class="clearfix"></div>
									<h2 class="inline">
										<a href="javascript:void(0)">4 mutual friends</a>
									</h2> <a class="custom_btn" href="javascript:void(0)">Accept</a> <a
									class="custom_btn" href="javascript:void(0)">Reject</a> <span>Friend</span>
							</span></li>


							<li><a href="javascript:void(0)"
								class="custom_btn btn-block text-center">View All</a></li>
						</ul></li>
				</ul>
			</div>
			<div class="navbar-static-top">
				<div class="navbar-header">
					<button aria-controls="bs-navbar" aria-expanded="false"
						class="collapsed navbar-toggle" data-target="#bs-navbar"
						data-toggle="collapse" type="button">
						<span class="sr-only">Toggle navigation</span> <span
							class="icon-bar"></span> <span class="icon-bar"></span> <span
							class="icon-bar"></span>
					</button>
					<a href="index.html" class="navbar-brand"><span class="logo"></span></a>
				</div>
				<nav class="collapse navbar-collapse">
					<ul class="nav navbar-nav menu_header">
						<li><a class="active" href="#"><span
								class="header_nav discuss"></span> Discuss</a></li>
						<li><a href="#"><span class="header_nav wall"></span>Wall</a>
						</li>
						<li><a href="ga.html"><span class="header_nav judge"></span>Judge
								Govt</a></li>
						<li><a href="#"><span class="header_nav problem"></span>Problems</a>
						</li>
					</ul>
					<ul class="nav navbar-nav menu_header navbar-right before_login">
						<li><a href="#" data-toggle="modal" data-target="#login_pop"><span
								class="fa fa-sign-in"></span> Login</a></li>
						<li><a href="#" data-toggle="modal" data-target="#sign_pop"><span
								class="fa fa-pencil-square-o"></span> SignUp</a></li>
					</ul>
				</nav>
			</div>
		</header>
